@{
    ViewData["Title"] = "Category";
}

<div class="card p-3">
    <h5 class="mb-1">Category</h5>
    <p class="text-muted mb-0">Pantalla base (UI en construcción).</p>
    <p class="text-muted mb-0">Categoria aun esta a discusión pero ayuda a definir el proposito de los gastos como comida, streaming, pago de tarjetas o deudas, hogar etc...</p>

</div>
