@{
    ViewData["Title"] = "Dashboard";
}

<div class="card p-3">
    <h5 class="mb-1">Dashboard</h5>
    <p class="text-muted mb-0">Pantalla base (UI en construcción).</p>
    <p class="text-muted mb-0">
        Aqui veremos graficos del historial de movimientos, resumen de salud financiera del usuario...
        (lo dejaremos abierto a nuevas ideas y recomendaciones a medida del desarrollo)
    </p>
</div>
