@{
    ViewData["Title"] = "Income";
}

<div class="card p-3">
    <h5 class="mb-1">Ingresos</h5>
    <p class="text-muted mb-0">Pantalla base (UI en construcción).</p>
    <p class="text-muted mb-0">El Usuario podrá definir sus ingresos y fechas en la que optiene ganancias para optener la data predictiva con respecto a los gastos</p>
    <p class="text-muted mb-0">Ingresos fijos al mes, ingresos fijos semanales y posibles ingresos diarios (Extras). Cada campo debe estar definido entre ganancia y tiempo</p>
</div>

