@{
    ViewData["Title"] = "Expense";
}

<div class="card p-3">
    <h5 class="mb-1">Gastos</h5>
    <p class="text-muted mb-0">Pantalla base (UI en construcción).</p>
    <p class="text-muted mb-0">El Usuario podrá definir sus Gastos con definicion y fechas que debe cumplir para optener la data predictiva y saber como distribuir sus ganancias</p>
    <p class="text-muted mb-0">Gastos fijos al mes,semanales y posibles diarias (Extras). Cada campo debe estar definido entre gastos proposito y tiempo.</p>
</div>

