@{
    ViewData["Title"] = "Predictions";
}

<div class="card p-3">
    <h5 class="mb-1">Predicciones</h5>
    <p class="text-muted mb-0">Pantalla base (UI en construcción).</p>
    <p class="text-muted mb-0">El Usuario podrá ajustar la IA con el peso de cada prioridad tomando en cuenta los puntos de ingresos y gastos debe poder dejarle claro a la IA sus prioridades</p>
    <p class="text-muted mb-0"> Asi poder darle mejores recomendaciones de manejo y consejos para distribuir el peso de responsabilidades de manera ajustable a su situacion financiera</p>
    <p class="text-muted mb-0">Fechas de pago sobre responsabilidades</p>
    <p class="text-muted mb-0">Recomendacion de gastos minimos</p>
    <p class="text-muted mb-0">Cuantos quedan libres para gastar en gustos</p>
    <p class="text-muted mb-0">Si define un plan de ahorro o metas poder sacarle un porciento % adaptado a su condición</p>
    <p class="text-muted mb-0">Estaremos buscando la escalabilidad y metodos de implementar las mejores logica para poder ayudar a nuestros usuarios a no caer en problemas financieros... aun no somos capaz de saber el potencial de la IA que implementaremos.</p>
</div>

