<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="icon" type="image/svg+xml" href="~/logo.svg" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body class="ft-app-bg">
    <div class="ft-app-grid" aria-hidden="true"></div>

    <main class="ft-auth-page">
        <section class="" aria-label="Acceso">
            <div class="ft-auth-card ft-auth-card">
                <div class="ft-auth-brand">
                    <img src="~/images/fintrack-logo.jpg"
                         asp-append-version="true"
                         alt="FinTrack"
                         class="ft-auth-brand__logo" />
                    <div class="ft-auth-brand__copy">
                        <h2 class="ft-title-2">FinTrack</h2>
                    </div>
                </div>

                <div class="ft-auth-body">
                    @RenderBody()
                </div>
            </div>
        </section>
    </main>


    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>