@* Brand para pantallas Auth: centrado y compacto *@
<div class="text-center">
    <img src="~/images/fintrack-logo.jpg" asp-append-version="true"
         class="mx-auto ft-auth-logo"
         alt="FinTrack" />
</div>
